body {
    font-family: 'Roboto', 'Sans-serif';
    background-color: var(--white);
}

.header-logo,
.footer-logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* identical to box height, or 133% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-text-web,
.footer-text-web {
    color: var(--blue);
}

.header-menu {
    /* NAVY BLUE */
    color: var(--dark);
    /* Inside auto layout */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.header-menu:hover,
.header-menu:focus {
    color: var(--darkblue-hover);
}

.header-text-studio {
    color: var(--dark);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* identical to box height, or 133% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 71px;
    height: 24px;
}

.footer-text-studio {
    color: var(--border-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    /* identical to box height */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 71px;
    height: 24px;
}

.contacts {
    letter-spacing: 0.02em;
    /* SLATE */
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.contacts:hover,
.contacts:focus {
    color: var(--darkblue-hover);
}

.footer-text {
    /* Body */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* or 150% */
    letter-spacing: 0.02em;
    /* CORNFLOWER */
    color: #E7E9FC;
}

.footer {
    background: var(--dark);
}

.title {
    /* Header 1 */
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    /* or 107% */
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
}

.title-background {
    background: var(--dark);
}

.our-team {
    background: var(--border-color);
}

.button-order {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: var(--white);
    /* Inside auto layout */
    padding: 16px 32px;
    gap: 10px;
    /* IRIS */
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.button-order:hover {
    background: var(--darkblue-hover);
}

.topic-text {
    /* Header 2 */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    /* identical to box height, or 111% */
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}

.article {
    /* Body */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* or 150% */
    letter-spacing: 0.02em;
    /* SLATE */
    color: #434455;
}

.button-filter {
    cursor: pointer;
    background: var(--border-color);
    /* CORNFLOWER */
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    /* Inside auto layout */
    /* IRIS */
    color: var(--blue);
    /* Inside auto layout */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', 'Sans-serif';
}

.button-filter:hover,
.button-filter:active {
    background: var(--blue);
    color: var(--white);
}

.pic-shadow:hover {
    background: #4D5AE5;
    background-blend-mode: soft-light;
    mix-blend-mode: normal;
    /* or 150% */
    letter-spacing: 0.02em;
    /* CLOUD */
    color: var(--border-color);
}

.pic-shadow {
    background: var(--border-color);
    background-blend-mode: soft-light;
    mix-blend-mode: normal;
    letter-spacing: 0.02em;
    color: var(--blue);
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}

ul {
    padding-left: 0;
    /* Сдвигаем список влево */
}

.block-under-photo {
    background: var(--white);
    /* CLOUD */
    border: 0.5px solid var(--border-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

:root {
    --border-color: #F4F4FD;
    --dark: #2E2F42;
    --blue: #4D5AE5;
    --white: #FFFFFF;
    --darkblue-hover: #404BBF;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

a {
    text-decoration: none;
}

.images-block {
    background-color: var(--white);
}