body {
    font-family: 'Roboto';
    font-style: normal;
}

.header-logo,
.footer-logo {
    display: flex;
    text-decoration: none;
}

.header-text-web,
.footer-text-web {
    color: #4D5AE5;
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* IRIS */
    color: #4D5AE5;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header-menu {
    /* NAVY BLUE */
    color: #2E2F42;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5em;
}

.header-text-studio {
    color: #2E2F42;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 71px;
    height: 24px;
}

.footer-text-studio {
    color: var(--border-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 71px;
    height: 24px;
}

.contacts {
    letter-spacing: 0.02em;
    /* SLATE */
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
}

.footer-text {
    /* Body */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    /* or 150% */
    letter-spacing: 0.02em;
    /* CORNFLOWER */
    color: #E7E9FC;
}

.footer {
    background: #2E2F42;
}

.title {
    /* Header 1 */
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07em;
    /* or 107% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.title-background {
    background: #2E2F42;
}

.our-team {
    background: var(--border-color);
}

.button-order {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2em;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    /* IRIS */
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.section {
    /* Header 2 */
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1em;
    /* identical to box height, or 111% */
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2em;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: #2E2F42;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

p {
    /* Body */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    /* or 150% */
    letter-spacing: 0.02em;
    /* SLATE */
    color: #434455;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.button-filter {
    /* CLOUD */
    background: var(--border-color);
    /* CORNFLOWER */
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    /* IRIS */
    color: #4D5AE5;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5em;
}

.button-filter:hover {
    background: #4D5AE5;
    color: #FFFFFF;
}

.pic-shadow:hover {
    background: #4D5AE5;
    background-blend-mode: soft-light;
    mix-blend-mode: normal;
    /* or 150% */
    letter-spacing: 0.02em;
    /* CLOUD */
    color: var(--border-color);
}

.pic-shadow {
    background: var(--border-color);
    background-blend-mode: soft-light;
    mix-blend-mode: normal;
    letter-spacing: 0.02em;
    color: #4D5AE5;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}

ul {
    padding-left: 0;
    /* Сдвигаем список влево */
}

.block-under-photo {
    background: #FFFFFF;
    /* CLOUD */
    border: 0.5px solid var(--border-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

:root {
    --border-color: #F4F4FD;
}